body{
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(247, 224, 209);
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 70px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-right: 20px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
 }
 @media (max-whdth:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
 }