*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #5000b9;
    font-family: Verdana, sans-serif;
    line-height: 18px;
    font-style: italic;
}
h1{
    padding-block: 2%;
    text-align: center;
    
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.row {
    padding-top: 40px;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 290px);
    grid-template-rows: repeat(2, 250px);
    min-height: 500px;
    gap: 20px;
    position: relative;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
 
a{
    text-decoration: none;
    color:#fff;
}

.btn-menu{
    display: none;
    padding: 20px;
    background: #0d2c44;
}

.btn-menu .icono{
    float: right;
}
.contenedor-menu{
    
    width: 20%;
    min-width: 300px;
    margin: 50px;
    display: inline-block;
    font-family: Verdana, sans-serif;
    line-height: 18px;
}
.contenedor-menu ul{
    list-style: none;
}

.contenedor-menu .menu li a{
    color: #494949;
    display: block;
    padding: 15px 20px;
    background: #e9e9e9;
}
.contenedor-menu .menu{
    width: 100%;

}

.contenedor-menu li a:hover{
    background: #1a95d5;
    color: #fff;
    
}
@media screen and (max-width: 450px){
    body {
        padding-top: 80px;
    }
    
    .contenedor-menu{
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .btn-menu {
        display: block;
    }
    .contenedor-menu .menu {
        display: none;
    }
}
 /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }